* {
    text-align: center;
    font-family: Georgia;
}

header,footer {
    background-color: tomato;
    color: mistyrose;
    padding: 10px;
}

nav {
    width: 20%;
    float: left;
}

.blok1,.blok2,.blok3 {
    background-color: #FFAEA5;
    height: 170px;
    size: 200%;
}

.blok1 {
    background-color: mistyrose;
}

main{
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    float: left;
}

table{
    margin: auto;
    width: 60%;
    border: dotted indigo 1px;
}
select, button{
    margin: 20px;
}

dt{
  font-weight: bold;
  font-style: italic;
}


footer{
    clear: both;
}