body {
    font-family: sans-serif;
}

header {
    width: 70%;
    text-align: center;
    background-color: paleturquoise;
    border-radius: 20px;  /*zaokraglenie rogow*/
}

main {
    float: left;
    width: 70%;
    text-align: center;


}


nav {
    float: left;
    background-color: paleturquoise;
    border-radius: 20px;
    width: 25%;
    height: 700px;
    line-height: 2;

}

footer {
    clear: both;
    padding-top: 10px;
}

section{
    border: dotted dimgray 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
    overflow: auto;
    display: flex;          /* włącza flexboxa - dzieci (zdjęcia) układają się w linii obok siebie */
    flex-wrap: wrap;        /* gdy zdjęcia nie mieszczą się w jednym rzędzie, zawijają się do następnego */
    justify-content: center; /* wyśrodkowuje zdjęcia poziomo wewnątrz sekcji */
}

.miniatura{
    height: 300px;
    margin: 10px;
    opacity: 0.8;
    transition-duration: 1s;
}